{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    About Us
                </h1>
                <p>
                    We provide a wide variety of products for dogs. Our aim is to provide the highest quality for our customers.
                </p>
                <p>
                    As dog lovers ourselves we knew how much love, time and commitment goes into caring for dogs.  With this in mind we wanted to share our commitment to ensuring that you and your dog get the best products available.
                </p>
                <p>
                    We started off in animal welfare and rescued a number of animals that needed a good home and care.  We decided to set up a blog for fellow animal lovers and this inspired us to look into developing an e-commerce website that would sell good quality products for dogs.  
                </p>
                <p>
                    We are an ethical company understanding the needs of animals and dogs and we aim to provide an excellent service that puts you and your dog at the top of our priorities.
                </p>
            </div>
        </div>
    </div>
{% endblock %}