<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Dog Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dog Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=Collars" class="dropdown-item">Collars</a>
                <a href="{% url 'products' %}?category=Harnesses" class="dropdown-item">Harnesses</a>
                <a href="{% url 'products' %}?category=Leads" class="dropdown-item">Leads</a>
                <a href="{% url 'products' %}?category=Toys" class="dropdown-item">Toys</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dog Food
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=Tinned" class="dropdown-item">Tinned</a>
                <a href="{% url 'products' %}?category=Biscuits" class="dropdown-item">Biscuits</a>
                <a href="{% url 'products' %}?category=Nutrition" class="dropdown-item">Nutrition</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Dog Clothes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=Jackets" class="dropdown-item">Jackets</a>
                <a href="{% url 'products' %}?category=Scarves" class="dropdown-item">Scarves</a>
                <a href="{% url 'products' %}?category=Fancy_Dress" class="dropdown-item">Fancy Dress</a>
            </div>
        </li>
    </ul>
</div>