{# This displays all reviews for the current product. #}
{# Included from product_detail.html #}

{% block content %}
<div>
    <h3>Product Reviews</h3>

    {# If there are no product reviews... #}
    {% if not approved_reviews.all %}

    {# then tell the user there are no product reviews. #}
    <div>
        <p>No product reviews.</p>

        {# If user is logged in #}
        {% if request.user.is_authenticated %}
        <p>To add a product review, please use the 'Add Product Review' form.</p>
        {% endif %}
    </div>

    {% else %}

        {# Otherwise, display all product reviews. #}

        {% for current_product_review in approved_reviews.all %}
            {% if current_product_review.approved %}

            <div class="product-review-box rounded-lg">
                <div class="product-review-upper-section">
                    <h4>{{ current_product_review.title }}</h4>
                    <p class="product-review-body">{{ current_product_review.review }}</p>
                    <h5 class="product-review-author-text">Product review by {{ current_product_review.author }} on {{ current_product_review.created_on }}</h5>
                </div>
                {% if current_product_review.author == request.user %}
                    <!-- Display the Edit and Delete buttons -->
                    <div class="product-review-button-section">
                        <a class="btn btn-primary btn-sm product-review-edit-button" title="Edit review" role="button" href="{% url 'update_product_review' current_product_review.id %}?nexturl={{ request.path | urlencode }}">Edit</a>
                        <a class="btn btn-danger btn-sm product-review-delete-button" title="Delete review" role="button" href="{% url 'delete_product_review' current_product_review.id %}?nexturl={{ request.path | urlencode }}">Delete</a>
                    </div>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

{% endblock %}